name: Release and Publish

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Release and Publish
        run: pnpm dlx lvr release & (pnpm i && pnpm publish --no-git-checks)
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

